<%- include ("../partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a new memory</h1>
        <div style="width: 30%; margin: 30px auto">
            <form action="/memories" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="date" value="2005-01-01">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description goes here">
                </div>
                <form-group>
                    <button class="btn btn-primary btn-lg btn-default btn-block">Submit!</button>
                </form-group>
            </form>

            <a href="/memories">Go back</a>
        </div>
    </div>

</div>
<%- include ("../partials/footer") %>
